.container-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    justify-content: center;
    background-color: #B8F4BF;
    padding: 1em;
}

.contentHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

.createButton {
    background-color: darkorange;
}

.createButton:hover {
    background-color: rgb(250, 185, 64);
}