* {
    margin: 0;
    padding: 0;
}

.navContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: .5em;
}

.logo {
    width: 250px;
    height: 75px;
}

.userIcon {
    width: 50px;
    margin: 5px;
}

.logout-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__link {
    text-decoration: none;
    color: gray;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar__link:hover {
    color: darkorange;
}

.logout_link {
    text-decoration: none;
    color: rgb(172, 172, 172);
    font-size: none;
}

.logout_link:hover {
    color: whitesmoke;
}